.achievementCard {
  width: 100%;
  margin-top: 2.2rem;
  font-size: 1.2rem;
  padding: 1.2rem;
}

.achievementCardContainer {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: flex-start;
  border: none;
}

.achievementDescription {
  margin-left: 2rem;
}
