.certificationsContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  margin-top: 1.6rem;
}

.certificationCard {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  font-size: 1.2rem;
  padding: 1.06rem;
}

.certificationSection1 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: none;
}

.certificationDescription {
  text-align: left;
  margin-left: 2rem;
}

.linkCertification {
  margin-right: 0.4rem;
}
